@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


*, 
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body {
    color: #111111;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

.container{
    height: 100vh;
    clip-path:polygon(100% 0%, 100% 0, 0% 0%, 0% 80%, 80% 100%);
    background: #7F00FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow: visible;
}
.footer{
    height: 40vh;
    background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    clip-path:polygon(100% 0%, 80% 60%, 0% 0%, 0% 100%, 100% 100%);
    z-index: -1;
}

.footer .footer-content{
    width:60%;
    padding:100px;
}

.nav{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding:40px;
}

.nav__titles ul{
    display:flex;
}

.nav__titles ul li{
    margin-left: 30px;
    list-style-type: none;
}

.nav__titles ul li a{
    text-decoration:none;
    font-size: 16px;
    font-weight: 800;
    color:#ffffff;
}

.content{
    padding:60px;
    height: 100vh;
    z-index: 1;
    color:#fff;
    width: 85%;
}

.content .content__heading{
    padding:10px;
}

.content .content__heading h1{
    font-size:40px;
}

.content .content__heading h3{
    font-size:22px;
    padding: 20px 0px;
}

.content .content__container {
    width: auto;
}

.content .content__container p {
    font-size: 20px;
    padding:10px;
    font-weight: 700;
    line-height: 32px;
}

.content .content__container h4,
.footer h4{
    padding: 40px 0 40px 20px;
    font-size: 25px;
    font-weight: 700;
    color:#fff;
}
.content .content__container button,
.footer button{
    outline:none;
    background:#E100FF;
    /* border:2px solid black; */
    border:none;
    padding:10px 25px;
    margin:10px;
    font-size:20px;
    border-radius: 15px;
    box-shadow: 1px 2px 2px 1px #59135f;
}

.content .content__container button a,
.footer button a{
    text-decoration: none;
    color: #fafaff;
}

.content .content__container button:hover,
.footer button:hover{
    background:#6d1779;
}

.topic__links{
    z-index: 1;
    position: relative;
}

.topic{
    width:65%;
    /* border:2px solid #532185; */
    padding:60px;
    margin:auto 300px 50px auto;
    background:#fafaff;
    box-shadow: 2px 2px 10px 1px #ddd;
}
.topic:hover{
    background:#6d1779;
    color: #ffff;
}

.topic h2{
    padding:10px;
}

.heading{
    display:flex;
    font-family: 'Lora' sans-serif;
}

.topic p{
    padding:20px;
}
.topic ul{
    display: flex;
    overflow-x: scroll;
}
.topic ul li {
    width:max-content;
    margin:1px;
    padding:10px;
    list-style-type: none;
}

.topic ul li a{
    text-decoration: none;
    color:#1331d6;
    font-weight: 700;
}

.topic ul li a:hover{
    color: #fafaff;
}


/* media query */

@media only screen and (max-width:1120px) {
    .container{
        height: auto;
        background: #9202a5;  /* fallback for old browsers */
        clip-path:none;
        overflow:visible;
    }
    .content{
        width:100%;
        margin:auto;
        height: auto;
    }

    .content .content__heading{
        margin:auto;
    }


    .content .content__container {
        height: auto;
        width: auto;
        margin:auto;
    }

    .content .content__container p {
        padding:20px;
    }


    .topic__links{
        margin:auto;
    }

    .topic{
        width:auto;
        margin:2em;
    }
    .footer{
        clip-path: none;
        background: #9202a5; 
        margin:auto;
        padding: inherit;
    }
    .footer .footer-content{
        width:90%;
        margin:auto;
        padding:inherit;
    }
}

@media only screen and (max-width:630px) {}